.page-wrapper {
  display: grid;
  max-width: 100%;
}
.main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-between;
  max-width: 67%;
  height: 100%;
  padding: 1em;
}
.preamble {
  border: 1px solid #F3D5CE;
  padding: 6px;
}
.explanation {
  border: 1px solid #F3D5CE;
  border-radius: 3px;
  padding: 6px;
}
.participation {
  border: 1px solid #F3D5CE;
  border-radius: 3px;
  padding: 6px;
}
.benefits {
  display: block;
  height:22vw;
  width:22vw;
  border: 3px solid #F3D5CE;
  border-radius: 50%;
  text-align: center;
  padding: 1.5em;
}
.requirements {
  border: 1px solid #F3D5CE;
  border-radius: 3px;
  padding: 6px;
} 
html {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.88889;
  color: #ffccff;
  background-image: url("https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: absolute;
  margin: 0;
}
/*Typography*/
h1 {
  font-family: 'Nova Square', cursive;
}

h2 {
  font-family: 'Nunito', sans-serif; 
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0pt;
  margin-top: 0;
}
h3 {
  font-family: "Nova Square", cursive;
  font-size: 20px;
  color: #F3D5CE;
}
a:link {
  font-weight: bold;
  text-decoration: none;
  color: #b7a5df;
}
a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #d4cddc;
}
a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: #9685ba;
}
abbr {
  border-bottom: none;
}

/* specific divs */
.intro {
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  max-width: 67%;
  height: 100%;
  padding: 1em;
}
header h1 {
  font-family: 'Nova Square', cursive;
  font-size: 60px;
  justify-content: center;
  align-content: center;
}
header h2 {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  font-size: 27px;
  text-align: center;
}
header {
  flex-flow: row wrap;
  padding-top: 10px;

}
.summary {
 border: 1px solid #F3D5CE;
 background-color: #0E1820;
 padding: 6px;
}
.summary p {
  font: italic 1.1em/2.2 'nunito';
  text-align: left;
}

footer {
  display: flex;
  flex-flow: row wrap;
  background-color: #0E1820;
  justify-content: center;
  align-content: center;
  height: 40px;
  margin: 0 auto;
  padding: 1em;
  width: 100%;
}
footer a:link,
footer a:visited {
  margin-right: 20px;
}

/*NAVIGATION*/
.sidebar ul {
  margin: 0;
  padding: 0;
}
.sidebar li {
  line-height: 1.3em;
  display: block;
  padding-top: 5px;
  margin-bottom: 5px;
  list-style-type: none;
}
.sidebar li a:link {
  color: #0e1820;
}
.sidebar li a:visited {
  color: #1d2b40;
}
.sidebar nav li a:hover {
  color: #f3d5ce;
  background-color: lighten(#1d2b40, 5%);
}
.sidebar li a:active {
  color: #ebf9fe;
  background-color: lighten(#1d2b40, 5%);
}

.sidebar .design-selection {
  background: linear-gradient(to bottom, #ebf9fe 0%, #ffccff 100%);
  border-radius: 400px;
  height: 400px;
  width: 400px;
  text-align: center;
}
.sidebar .design-selection .select{
  padding-top: 20%;
}
.sidebar .design-archives {
  background: linear-gradient(to bottom, #ebf9fe 0%, #ffccff 100%);
  border-radius: 400px;
  height: 250px;
  width: 250px;
  margin-left: 50%;
  text-align: center;
}
.sidebar .design-archives .archives{
  padding-top: 30%;
}
.sidebar .zen-resources{
  background: linear-gradient(to bottom, #ebf9fe 0%, #ffccff 100%);
  border-radius: 400px;
  height: 325px;
  width: 325px;
  text-align: center;
}
.sidebar .zen-resources .resources{
  padding-top: 25%;
}

@media (min-width: 1000px){
  .sidebar .design-selection{
    position: absolute; 
    top: 100px; 
    right: 20px; 
  }
  .sidebar .design-archives{
    position: absolute; 
    top: 500px; 
    right: 200px;
  }
  .sidebar .zen-resources{
    position: absolute; 
    top: 745px; 
    right: 40px; 
  }
}
