@import 'partials/colors';
@import 'partials/typography';
@import 'partials/navigation';
@import 'partials/background';
@import 'partials/headerfooter';
@import 'partials/breakpoints';

//body;

.page-wrapper {
    display: grid;
    max-width: 100%;
    padding: 0 75px 0 50px;
    margin: 0;
    position: relative;
}
.main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-between;
  max-width: 85%;
  height: 100%;
  padding: 1em;
}
.preamble, .explanation, .participation, .requirements {
  padding: 1rem;
}
.benefits::before {
  content: "";
  background: url(https://images.unsplash.com/photo-1600470902715-816eb7817285?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  border-radius: 50%;
  background-position: 20px left;
  width: 275px;
  height: 275px;
  float: left;
  margin: 1em;
  shape-outside: circle(50%);
}

.benefits {
  text-align: left;
  border-radius: 50%;
  margin: 1em;
}

html {
    margin: 0;
    padding: 0;
  }

abbr {
    border-bottom: none;
}
