
$color-1: #0E1820; // rich black - Action color
$color-2: #1C212F; // raisin black
$color-3: #1D2B40; // prussian blue
$color-4: #F3D5CE; // misty rose
$color-5: #EBF9FE;// cultured

// additional colors

$success: #354B5E; // charcoal
$alert: #5D0000; // rosewood