$color-1: #0E1820;//rich black- action color
$color-2: #1c212f;//raisin black
$color-3: #1d2b40;//prussian blue
$color-4: #F7DFF5;//misty rose
$color-5: #ebf9fe;//cultured
$color-6: #bfafe2;//prettypurple

$success: #354b5e;//charcoal
$darker-link: #5e4691;//rosewood