
//@import 'navigation';
$link: $color-6;
$visited-link: $color-2;
$hover-link: $color-4;
$active-link: $color-5;
$background-color-link: lighten($color-3, 5%);

.sidebar ul {
    margin: 0;
    padding: 0;
}
.sidebar li {
    line-height: 1.3em;
    display: block;
    padding-top: 5px;
    margin-bottom: 5px;
    list-style-type: none;
}
.sidebar li a:link {
    color: $darker-link;
    text-decoration: none;
}
.sidebar li a:visited {
    color: $visited-link;
    text-decoration: none;
}
.sidebar nav li a:hover {
    color: $hover-link;
    background-color: $background-color-link;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.sidebar li a:active {
    color: $active-link;
    background-color: $background-color-link;
    text-decoration: none;
}

.sidebar .design-selection {
    background: linear-gradient(to bottom, $color-5 0%, #ffccff 100%);
    border-radius: 400px;
    height: 400px;
    width: 400px;
    text-align: center;
    shape-outside: circle(50%);
    -webkit-box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
    -moz-box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
    box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
}
.sidebar .design-selection .select{
    padding-top: 10%;
}
    .sidebar .design-selection h3,
    .sidebar .design-selection li{
    color:$color-1
}
.sidebar .design-archives {
    background: linear-gradient(to bottom, $color-5 0%, #ffccff 100%);
    border-radius: 400px;
    height: 250px;
    width: 250px;
    margin-left: 50%;
    text-align: center;
    -webkit-box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
    -moz-box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
    box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
}
.sidebar .design-archives .archives{
    padding-top: 20%;
}
.sidebar .design-archives h3,
.sidebar .design-archives li{
    color:$color-1
}
.sidebar .zen-resources{
    background: linear-gradient(to bottom, $color-5 0%, #ffccff 100%);
    border-radius: 400px;
    height: 325px;
    width: 325px;
    text-align: center;
    -webkit-box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
    -moz-box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
    box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
}
.sidebar .zen-resources .resources{
    padding-top: 15%;
}
.sidebar .zen-resources h3,
.sidebar .zen-resources li {
    color:$color-1
}