
//@import 'navigation';
$link: $color-6;
$visited-link: $color-2;
$hover-link: $color-4;
$active-link: $color-5;
$background-color-link: lighten($color-3, 5%);

.sidebar ul {
    margin: 0;
    padding: 0;
}
.sidebar li {
    line-height: 1.3em;
    display: block;
    padding-top: 5px;
    margin-bottom: 5px;
    list-style-type: none;
}
.sidebar li a:link {
    color: $darker-link;
    text-decoration: none;
}
.sidebar li a:visited {
    color: $visited-link;
    text-decoration: none;
}
.sidebar nav li a:hover {
    color: $hover-link;
    background-color: $background-color-link;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.sidebar li a:active {
    color: $active-link;
    background-color: $background-color-link;
    text-decoration: none;
}

.sidebar .design-selection {
    background: linear-gradient(to bottom, $color-5 0%, #ffccff 100%);
    border-radius: 400px;
    height: 400px;
    width: 400px;
    text-align: center;
    shape-outside: circle(50%);
    -webkit-box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
    -moz-box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
    box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
}
.sidebar .design-selection .select{
    padding-top: 20%;
}
    .sidebar .design-selection h3,
    .sidebar .design-selection li{
    color:$color-1
}
@media (min-width: 1000px) {
.sidebar .design-archives {
    background: linear-gradient(to bottom, $color-5 0%, #ffccff 100%);
    border-radius: 400px;
    height: 250px;
    width: 250px;
    margin-left: 50%;
    text-align: center;
    -webkit-box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
    -moz-box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
    box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
}
.sidebar .design-archives .archives{
    padding-top: 20%;
}
.sidebar .design-archives h3,
.sidebar .design-archives li{
    color:$color-1
}
}
@media (max-width: 1000px) {
    .sidebar .design-archives {
        list-style: none;
    }
    .sidebar .design-archives ul {
        display: flex;
        align-items: center;
    }
    .sidebar .design-archives ul li a:hover {
        color: transparent;
        background: transparent;
    }
    .sidebar .design-archives li a {
        color: transparent;
        font-size: 2px;
    }
}
@media (min-width: 1000px) {
    .sidebar .zen-resources{
        background: linear-gradient(to bottom, $color-5 0%, #ffccff 100%);
        border-radius: 400px;
        height: 325px;
        width: 325px;
        text-align: center;
        -webkit-box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
        -moz-box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
        box-shadow: 20px 20px 24px 8px rgba(0,0,0,0.77);
    }
    .sidebar .zen-resources .resources{
        padding-top: 15%;
    }
    .sidebar .zen-resources h3,
    .sidebar .zen-resources li {
        color:$color-1
    }
}
@media (max-width: 1000px) {
    .sidebar .zen-resources {
        margin-bottom: 1em;
        padding: 0;
    }
    .resources {
        margin-bottom: .5em;
    }
    .sidebar .zen-resources ul {
        list-style: none;
        border: 3px solid $color-6;
        background-color:  rgba(28,33,47,0.6);
        border-radius: 5px;
        display: flex;
        margin: .5em;
        padding: 1em;
        padding-top: 1.5em;
        justify-content: space-around;
    }
    .sidebar .zen-resources li {
        margin: .5px;
        padding: .3em;
        padding-top: 1em;
    }
    .sidebar .zen-resources li a {
        color: transparent;
        font-size: 1px;
    }
}