@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Nunito&display=swap');
// fonts
$primary-font: 'Nova Square', cursive;
$secondary-font: 'Nunito', sans-serif;
h1, h3 {
  font-family: $primary-font;
}
h2 {
  font-family: $primary-font;
  font-size: 30px;
  color: $color-4;
  margin: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
h1 {
  font-size: 65px;
  color: $color-5;
}
h3 {
  font-size: 30px;
  color: $color-4;
  margin: 0 auto;
}
p {
  color: $color-5;
  font-family: $secondary-font;
  font-size: 18px;
}
a {
  font-family: $secondary-font;
  color: $color-6;
  text-decoration: none;
}